* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/pm.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
}


.fullcontainer {
    min-height: 34.18rem;
}


#container0{
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sabemosdepropiedades {
    max-width: 75%;
    text-align: center;
    text-shadow: 2px 4px 10px rgba(76, 75, 22, .6);
    font-size: 3rem;
    margin: 2.5rem 0rem .5rem 0rem;
    background-color: rgba(255, 255, 255, 0.3);
}
#descripcion{
    border: 2px solid transparent;
    max-width: 85%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

#container1 {
    border: 2px solid transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.botones {
    margin: .8rem 1.5rem;
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .8rem .8rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.botones::before {
    content: "Casas", "Locales", "Oficinas", "Departamentos", "Emprendimientos", "Lotes", "Depositos", "Campos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.botones:hover {
    transform: scale(1.2, 1.2);
}


#container2 {
    border: 2px solid transparent;
    text-align: left;
    width: 100%;
}


.boton {
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: .5rem .5rem;
    border-radius: 35px;
}

.barrios {
    display: inline;
    margin-left: 1rem;
    background-color: var(--darkGreen);
    color: var(--white);
    height: 1.6rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

.choise {
    color: black;
    font-weight: bold;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}



@media screen and (min-width: 768px) {
    #sabemosdepropiedades {
       max-width: 75%;
    }

    .botones{
        margin: 1.5rem 2.4rem;
    }


    #container2 {
        border: 2px solid transparent;
        padding-top: 15px;
        display: flex;
        flex-direction: row;
    }

    .choise {
        margin-left: 1rem;
        color: black;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .barrios {
        margin-top: 0rem;
        margin-left: 1rem;
    }

    .boton {
        margin-right: 1rem;
    }

}


@media screen and (min-width: 848px) {
    #sabemosdepropiedades {
        width: 65%;
     }
     .botones{
        margin: 1.5rem 3.5rem;
     }
 
     #container1 {
         margin: 2rem 3rem;
     }

    .barrios {
        margin-left: 0rem;
    }

    .boton {
        margin-left: 2rem;
    }

    .choise {
        color: black;
        background-color: rgba(255, 255, 255, 0.3);

    }

}


@media screen and (min-width: 896px) {
    #sabemosdepropiedades {
        max-width: 70%;
    }
    #container1 {
        margin: 2rem 5rem;
}

@media screen and (min-width: 1043px){
    #sabemosdepropiedades {
        max-width: 55%;
    }
    .botones{
        margin: 1.5rem 3rem;
    }
}

@media screen and (min-width: 1120px){
    .botones{
        margin: 1.5rem 3.5rem;
    }

@media screen and (min-width: 1200px){
    #sabemosdepropiedades {
        max-width: 47%;
    }
    #container1 {
        margin: 1rem 8rem;
        .botones{
            margin: 1.5rem 5rem;
        }
    }
}

