* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/pm.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
 main {
    min-height: 100vh;
 }



#sabemosdepropiedades {
    text-align: center;
    font-weight: 600;
    margin: 2.5rem 0rem 2.5rem 0rem;
}

#container1 {
    border: 2px solid transparent;
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.casas {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin: 1rem 1rem .5rem .5rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;  
}

.casas::before {
    content: "Casas";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.locales {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;  
}

.locales::before {
    content: "Locales";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oficinas {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;   
}

.oficinas::before {
    content: "Oficinas";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.departamentos {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin: 0rem 1rem .5rem 1rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;   
}

.departamentos::before {
    content: "Departamentos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emprendimientos {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin: .5rem 1rem 0.5rem 1rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative; 
}

.emprendimientos::before {
    content: "Emprendimientos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lotes {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin: 0rem 1rem .5rem .5rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    
}

.lotes::before {
    content: "Lotes";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.depositos {
    font-size: 25px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.depositos::before {
    content: "Depositos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campos {
    font-size: 25px;
    font-weight: 600;
    color:var(--lightGreen) ;
    border: 1px solid white;
    margin-bottom: 1rem;
    margin-right: .3rem;
    padding: .5rem .5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.campos::before {
    content: "Campos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.casas:hover {
    transform: scale(1.2, 1.2);
}

.locales:hover {
    transform: scale(1.2, 1.2);
}

.oficinas:hover {
    transform: scale(1.2, 1.2);
}

.departamentos:hover {
    transform: scale(1.2, 1.2);
}

.emprendimientos:hover {
    transform: scale(1.2, 1.2);
}

.lotes:hover {
    transform: scale(1.2, 1.2);
}

.depositos:hover {
    transform: scale(1.2, 1.2);
}

.campos:hover {
    transform: scale(1.2, 1.2);
}

#container2{ 
    border: 2px solid transparent;
    text-align: left;
    width: 100%;
}


.boton {
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 18px;   
    font-weight: bold;
    padding: 0.5rem 0.5rem .5rem .5rem;;
    margin-left: .3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 35px; 
}

.barrios{
    display: inline;
    margin-left: 1rem;
    background-color: var(--darkGreen);
    color: var(--white);
    height: 1.6rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}
 .choise{
    color: black;
    font-weight: bold;
    margin-left: 1rem;
 }
 


@media screen and (min-width: 760px) {
    #container1{
        padding: 19px;    
    }
    
    .casas{
        margin: 0rem 3rem ;
    }
            
    .locales:{
            margin: 0rem 3rem ;
    }
    
    .oficinas{
        margin: 0rem 3rem ;
    }
    
    .departamentos{
        margin: 3rem 4rem 3rem 2rem;
    }

    .emprendimientos{
        margin: 3rem 2rem 3rem 1rem;
    }

    .lotes{
        margin: 0rem 2rem 0rem 2rem;
    }

    .depositos{
        margin: 0rem 2rem 0rem 2rem; 
    }

    .campos{
        margin: 0rem 2rem 0rem 2rem;    
    }


    #container2{
        border: 2px solid transparent;
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
    }

    .choise{
        margin-left: 1rem;
    }

    .barrios{
        margin-top: 0rem;
        margin-left: 1rem;
    }

    .boton{
        margin-right: 1rem;
    }

}


@media screen and (min-width: 896px){
    #container2 {
        margin-bottom: 6rem;
    }
        .barrios{
            margin-left: 0rem;
        }
        .boton{
            margin-left: 2rem;
        }
    
}



@media screen and (min-width: 1000px){
    #sabemosdepropiedades{
        padding-top: 1rem;
    }
    #container1{
        width: 100%;
        border: 2px solid transparent;
    }
    
    .casas{
        margin: 2rem 7rem;
    }
    .locales{
        margin: 2rem 7rem;
    }
    .oficinas{
        margin: 2rem 7rem;
    }
    .departamentos{
        margin-left: 15rem;
    }
    .emprendimientos{
        margin-right: 15rem;
    }
    .lotes{
        margin: 2rem 5rem;
    }
    .depositos{
        margin: 2rem 5rem;
    }
    .campos{
        margin: 2rem 5rem;
    }
     
     .choise{
        color: black;
        background-color: rgba(255, 255, 255, 0.3);
     }
     .barrios{
        margin-top: 30px;
        height: 1.9rem;
     }
     .boton{
        margin-top: 25px;
     }
}