* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/pm.jpeg");
    /*background-size: 100%;*/
    width: 100%;
}




#sabemosdepropiedades {
    text-align: center;
    font-weight: 600;
    margin: 2.5rem 0rem 2.5rem 0rem;
}

#container1 {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
    /*display: grid;
    grid-template-columns: 50%;
    /*grid-template-columns: repeat(5, 3rem);
    margin-top: 1rem;*/
}






.casas {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;  
}

.casas::before {
    content: "Casas";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.locales {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;  
}

.locales::before {
    content: "Locales";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oficinas {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;   
}

.oficinas::before {
    content: "Oficinas";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.departamentos {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;   
}

.departamentos::before {
    content: "Departamentos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emprendimientos {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative; 
}

.emprendimientos::before {
    content: "Emprendimientos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lotes {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    
}

.lotes::before {
    content: "Lotes";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.depositos {
    font-size: 30px;
    font-weight: 600;
    color: var(--lightGreen);
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.depositos::before {
    content: "Depositos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campos {
    font-size: 30px;
    font-weight: 600;
    color:var(--lightGreen) ;
    border: 1px solid white;
    padding: .5rem 1.5rem;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.campos::before {
    content: "Campos";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.casas:hover {
    transform: scale(1.2, 1.2);
}

.locales:hover {
    transform: scale(1.2, 1.2);
}

.oficinas:hover {
    transform: scale(1.2, 1.2);
}

.departamentos:hover {
    transform: scale(1.2, 1.2);
}

.emprendimientos:hover {
    transform: scale(1.2, 1.2);
}

.lotes:hover {
    transform: scale(1.2, 1.2);
}

.depositos:hover {
    transform: scale(1.2, 1.2);
}

.campos:hover {
    transform: scale(1.2, 1.2);
}

#container2{ 
    text-align: left;
    width: 100%;
}


.boton {
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 18px;   
    font-weight: bold;
    padding: 0.5rem 0.5rem .5rem .5rem;
    margin-left: .3rem;
    margin-top: 0rem;
    border-radius: 35px; 
}

#barrios{
    display: inline;
    margin-left: 1rem;
    background-color: var(--darkGreen);
    color: var(--white);
    height: 1.6rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}


@media screen and (min-width: 760px) {
    .casas{
        margin: 0rem 2rem 2rem 1rem;
    }

    .locales{
        margin: 0rem 2rem 2rem 1rem;
    }  

    .oficinas{
        margin: 0rem 2rem 2rem 1rem;
    }
    
    .departamentos{
        margin: 1rem 2rem 2rem 1rem;
    }

    .emprendimientos{
        margin: 1rem 2rem 2rem 1rem;
    }

    .lotes{
        margin: 1rem 2rem .7rem 1rem;
    }

    .depositos{
        margin: 1rem 2rem .7rem 1rem; 
    }

    .campos{
        margin: 1rem 2rem .7rem 1rem;
    }
    
    #container2{
        display: inline-flex;
    }

    #barrios{
        display: inline;
        margin-top: 0rem;
    }

    .boton{
        margin-right: 2rem;
    }


}